.mbg-base-side-menu-btn {
	color: #8b8b8b;
	font-size: 12px;
	font-weight: 400;
	display: block;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	user-select: none;
	transition: transform 250ms ease;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
}

.mbg-base-side-menu-icon {
	font-size: 14px;
	margin-right: 5px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	user-select: none;
	text-align: center;
}

.mbg-base-side-menu-custom-icon {
	width: auto;
	height: 100%;
}

.mbg-base-side-menu-icon .material-icons {
	font-size: 16px;
	line-height: 22px;
}

.mbg-base-side-menu-btn .mbg-base-side-menu-text {
	transition: color 200ms linear;
}

.mbg-base-side-menu-btn .mbg-base-side-menu-icon {
	transition: color 200ms linear;
}

.mbg-base-side-menu-btn:hover{
	transform: translate3d(1%,0,0)
}

.mbg-base-side-menu-btn:hover .mbg-base-side-menu-text {
	color: #9136ca;
}

.mbg-base-side-menu-btn:hover .mbg-base-side-menu-icon  {
	color: #9136ca;
}

.mbg-base-side-menu a{
	text-decoration: none;
}
