<mb-sm-link action="vm.action"
			keys="vm.keys"
			config="vm.config"
			action-type="vm.actionType">
	<div side-menu-btn
		 class="mb"
		 ng-class="{'lastChild' : vm.lastChild, 'firstChild' : vm.firstChild}">
		<div class="mb-smb-text"
			 ng-if="vm.iconSide === 'right'">
			{{ vm.label }}
		</div>

		<div class="mb-smb-icon"
			 ng-if="vm.iconSrc === 'fontawesome'"
			 ng-style="{'font-size': vm.iconSize ? vm.iconSize + 'px' : undefined, 'line-height' : vm.iconSize ? vm.iconSize + 'px' : undefined, 'height' : vm.iconSize ? vm.iconSize + 'px' : undefined, 'width' : vm.iconSize ? 'auto' : undefined }">
			<i class="{{vm.icon}}"></i>
		</div>
		<div class="mb-smb-icon"
			 ng-if="vm.iconSrc === 'material'"
			 ng-style="{ 'height' : vm.iconSize ? vm.iconSize + 'px' : undefined, 'width' : vm.iconSize ? 'auto' : undefined }">
			<i class="material-icons"
			   ng-style="{'font-size': vm.iconSize ? vm.iconSize + 'px' : undefined, 'line-height' : vm.iconSize ? vm.iconSize + 'px' : undefined }">{{
				vm.icon }}</i>
		</div>
		<div class="mb-smb-icon"
			 ng-if="vm.iconSrc !== 'material' && vm.iconSrc !== 'fontawesome' && vm.iconSrc !== undefined && vm.iconSrc.length > 0"
			 ng-style="{ 'height' : vm.iconSize ? vm.iconSize + 'px' : undefined, 'width' : vm.iconSize ? 'auto' : undefined }">
			<img class="mb-smb-custom-icon"
				 ng-src="{{ vm.iconSrc }}"
				 alt="">
		</div>

		<div class="mb-smb-text"
			 ng-if="vm.iconSide !== 'right'">
			{{ vm.label }}
			<span ng-if="vm.tag"
				  ng-style="{background: vm.tag.color}"
				  class="mbg-tag">
				{{ vm.tag.label }}
			</span>
		</div>
	</div>
</mb-sm-link>