<div class="mbg-base-search-content-container">
	<mbg-base-topbar-input on-blur="blurInput()" on-change-value="onChangeSearch(text)" placeholder="O que você está procurando?"
	 type="text" name="search" icon="fa-search"></mbg-base-topbar-input>
	<div class="mbg-base-search-autocomplete-container" ng-class="{'active':autoCompleteActive}" ng-if="!autoCompleteHide">
		<div class="mbg-base-search-autocomplete-content">

			<div ng-repeat="result in result | orderBy:'-matchesCount'">
				<div class="mbg-base-search-autocomplete-title-container">
					<div class="mbg-base-search-autocomplete-title">
						{{ result.type }}
					</div>
					<div class="mbg-base-search-autocomplete-title-line"></div>
				</div>
				<mbg-base-topbar-result-line ng-repeat="line in result.children | orderBy:'-matchesCount'" line="line"></mbg-base-topbar-result-line>
			</div>
			<div ng-if="result.length === 0" class="mbg-base-search-autocomplete-nothingfound">
				Nenhum resultado encontrado para:
				<div class="mbg-base-search-autocomplete-nothingfound-search">
					{{ '"' + searchValue + '"' }}
				</div>
			</div>

		</div>
	</div>
</div>