.mbg-base-search-content-container {
	position: relative;
}

.mbg-base-search-autocomplete-container {
	position: absolute;
	top: 20px;
	width: 100%;
	height: auto;
	background-color: #F2F2F2;
	z-index: 500;
	padding-top: 20px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	will-change: transform, opacity;
	transform: translate3d(0%, -20px, 0%);
	opacity: 0;
	transition: transform 500ms ease, opacity 200ms linear;
}

.mbg-base-search-autocomplete-container.active {
	transform: translate3d(0%, 0%, 0%);
	opacity: 1;
}

.mbg-base-search-autocomplete-nothingfound {
	width: 100%;
	padding: 15px;
	font-weight: 400;
	font-size: 14px;
	color: #727272;
}

.mbg-base-search-autocomplete-nothingfound-search {
	font-weight: 700;
	word-wrap: break-word;
	color: #8228A2;
}


.mbg-base-search-autocomplete-content {
	color: #8228A2;
	padding: 10px 0px 10px 0px;
}

.mbg-base-search-autocomplete-title-container {
	width: 100%;
	height: 40px;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	text-align: left;
}

.mbg-base-search-autocomplete-title-line {
	width: calc(100% - 45px);
	height: 1px;
	background-color: #8228A2;
	position: absolute;
	top: 50%;
	left: 15px;
	right: 25px;
	transform: translateY(-50%);
	z-index: 500;
	user-select: none;
}

.mbg-base-search-autocomplete-title {
	height: 40px;
	line-height: 40px;
	color: #8228A2;
	background-color: #F2F2F2;
	display: inline-block;
	padding-right: 20px;
	padding-left: 10px;
	z-index: 501;
	position: relative;
	font-weight: 700;
	font-size: 14px;
	user-select: none;
}

.mbg-base-search-autocomplete-line {
	width: 100%;
	text-align: left;
	align-items: flex-start;
	color: #727272;
	background-color: #F2F2F2;
	transition: background-color 100ms linear;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
}

.mbg-base-autocomplete-link {
	padding: 7.5px 15px 7.5px 35px;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
	display: block;
}

.mbg-base-search-autocomplete-line:hover {
	background-color: #fff;
	color: #8228A2;
}

