@media (max-width: 768px) {
  .mbg-base-topbar-user-container {
		width: auto;
  }
  .mbg-base-topbar-user-company {
    padding-left: 15px;
  }
  .mbg-base-topbar-names-container {
		display: none;
  }
  .mbg-base-topbar-arrow-container {
		display: none;
  }
  
  .mbg-base-topbar-user-container {
    padding-right: 20px;
  }
}
