<div class="mbg-base-topbar-user-company">
	<div class="mbg-base-topbar-names-container" ng-click="toggleMenu()">
		<div class="mbg-base-topbar-names user" ng-class="{'focus-company' : focus === 'company'}">
			<div class="mbg-base-topbar-greetings-small">
				Bom Dia,
			</div>
			<div class="mbg-base-topbar-greetings-name">
				Amália Fernandes
			</div>
		</div>
		<div class="mbg-base-topbar-names company" ng-class="{'focus-company' : focus === 'company'}">
			<div class="mbg-base-topbar-greetings-small">
				Spotify Limitada ME.
			</div>
			<div class="mbg-base-topbar-greetings-name">
				Spotify
			</div>
		</div>
	</div>
	<div class="mbg-base-topbar-arrow-container">
		<i class="fas fa-caret-down mbg-base-topbar-arrow" ng-class="{'active':menuOpen}"></i>
	</div>
	<div class="mbg-base-topbar-avatar-container" ng-class="{'focus-company': focus === 'company', 'changeZIndex': changeZIndex === true, 'focus-user': focus === 'user'}">
		<div class="mbg-topbar-user-avatar" ng-style="{'background-image': 'url(' + $ctrl.config.userAvatar + ')'}" ng-click="focusUser()">
		</div>
		<div class="mbg-topbar-company-avatar" ng-style="{'background-image': 'url(' + $ctrl.config.companyAvatar + ')'}" ng-click="focusCompany()">
		</div>
	</div>
</div>
<div class="mbg-base-topbar-user-menu" ng-class="{'active':menuOpen}">
	<div ng-if="focus === 'user' || focus === ''" class="mbg-base-topbar-user-menu-content">
		<div class="mbg-base-topbar-change-divisor">
			<div class="mbg-base-topbar-user-title">

			</div>
			conteudo usuario
			<svg class="mbg-base-topbar-change-divisor-detail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.56 7.99">
				<path class="mbg-base-topbar-change-detail-path" d="M11.82,5A9.21,9.21,0,0,0,23.76,5a7.23,7.23,0,0,1,9.59,0,9.21,9.21,0,0,0,11.9,0,7.24,7.24,0,0,1,9.56,0,9.21,9.21,0,0,0,12,0,7,7,0,0,1,4.78-1.8A6.47,6.47,0,0,1,75.68,4.5c.48-.47.95-1,1.41-1.45a8.6,8.6,0,0,0-5.55-1.88,8.94,8.94,0,0,0-6,2.2,7.24,7.24,0,0,1-9.56,0A9.21,9.21,0,0,0,44,3.37a7.23,7.23,0,0,1-9.55,0,9.21,9.21,0,0,0-11.94,0,7.23,7.23,0,0,1-9.55,0,8.94,8.94,0,0,0-6-2.2A8.58,8.58,0,0,0,1.51,3c.46.49.93,1,1.41,1.45A6.46,6.46,0,0,1,7,3.17,7,7,0,0,1,11.82,5Z"
				 transform="translate(-0.04 -0.16)" />
			</svg>
		</div>
	</div>
	<div ng-if="focus === 'company'" class="mbg-base-topbar-user-menu-content">
		conteudo empresa
	</div>
</div>
<div class="mbg-base-topbar-user-menu-bottom" ng-class="{'active':menuOpen}">
</div>