<div class="mb-n-container"
     ng-style="{'transform': vm.containerTransform, 'z-index': vm.zIndex !== undefined ? vm.zIndex : undefined}">
	<div class="mb"
	     mb-notification>
		<div class="mb-n-inside-container">
			<div class="mb-n-text">
				<div class="mb-n-icon-container">
					<i class="{{ vm.notif.icon }}"></i>
				</div>
				{{ vm.notif.text }}
			</div>
			<div ng-if="vm.notif.actionButton === true"
			     class="mb-n-action-container">
				<div class="mb-n-action-button"
				     ng-click="vm.notif.action(vm.notif)">
					{{ vm.notif.actionText }}
				</div>
			</div>
		</div>
	</div>
</div>