@import '../../../themes/themes.style.scss';

.mb[notifications] {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	color: #8034ad;
	@include themify(color, color1);
	cursor: pointer;

	> .mb-tn-number {
		position: absolute;
		top: 2px;
		right: 2px;
		line-height: 23px;
		width: 23px;
		height: 23px;
		border-radius: 11.5px;
		background-color: map-get($semantic, error);
		font-size: 12px;
		font-weight: 700;
		color: white;
	}
}
