@import "../../../themes/themes.style.scss";

mb-topbar-notifications {
  // position: absolute;
  // left: 0;
  z-index: 7000;
  height: 100%;
  display: flex;
  align-items: center;
}

.mb[notifications] {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #8034ad;
  @include themify(color, color1);
  cursor: pointer;
  position: relative;
  transform-origin: center;
  transition: transform 350ms ease;
  .mb-tn-number, i.bell {
    transition: transform 350ms ease;
  }

  > .mb-tn-number {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 23px;
    width: 23px;
    height: 23px;
    border-radius: 11.5px;
    background-color: map-get($semantic, error);
    font-size: 12px;
    font-weight: 700;
    color: white;
  }
  .mb-tn-wrapper {
    width: 300px;
    background: #fff;
    transform: translateY(0);
    pointer-events: none;
    opacity: 0;
    transition: transform 350ms ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 0 70px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    .notifition-item {
      overflow: hidden;
      display: flex;
      padding: 14px 0px;
      border-bottom: .5px solid #f5f5f5;
      &:last-child {
        border: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      &:hover {
        cursor: pointer;
        background: #f5f5f5;
        * {
          cursor: pointer;
        }
        &:nth-child(2) {
          ~ .arrow-up  {
            &:before {
              border-bottom: 14px solid #f5f5f5;
            }
          }
        }
      }
      .notification-icon {
        width: 64px;
      }
      .notification-metadata {
				padding-right: 14px;
				display: flex;
				flex: 1;
				flex-direction: column;
				align-items: flex-start;
				label {
					text-align: left;
					margin: 0;
					color: #666;
					font-weight: 100;
				}
        .notification-time {
					font-size: 10px;
					margin-bottom: 8px;
          line-height: 1;
          i {
            margin-right: 2px;
            font-size: 10px;
          }
        }
        .notification-title {
					font-size: 12px;
					margin-bottom: 4px;
					line-height: 1;
        }
        .notification-body {
					font-size: 12px;
					line-height: 1.4;
        }
        .notification-actions {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-top: 8px;
          button {
            font-size: 12px;
            line-height: 1.4;
            border-radius: 4px;
            color: #666;
            padding: 5px 8px;
            cursor: pointer;
            outline: none;
            &:hover {
              @include themify(color, color1);
              @include themify(border-color, color1);
            }
          }
        }
      }
    }
    .empty-notification {
      padding: 44px 0;
      svg {
        width: 84px;
        fill: #666;
      }
      label {
        font-size: 14px;
        color: #666;
        padding: 0;
        margin: 0;
      }
    }
    .arrow-up {
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      &:before {
        pointer-events: none;
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 14px solid #ffffff;
        margin-top: -68px;
        margin-left: 10px;
      }
    }
    &.open {
      transform: translateY(14px);
      pointer-events: all;
      opacity: 1;
    }
  }
}
