<a class="mb"
   topbar-user-link
   ng-click="vm.click()"
   ng-transclude
   ng-if="vm.actionType === 'state'"
   ui-sref="{{vm.action}}">
</a>
<a class="mb"
   topbar-user-link
   ng-click="vm.click()"
   ng-transclude
   ng-if="vm.actionType === 'link'"
   ng-href="{{vm.action}}">
</a>
<a class="mb"
   topbar-user-link
   ng-click="vm.click()"
   ng-transclude
   ng-if="vm.actionType === 'function'">
</a>
<a class="mb"
   topbar-user-link
   ng-click="vm.click()"
   ng-transclude
   ng-if="vm.actionType === 'internal'">
</a>