<div class="mbg-base-topbar">
	<div class="mbg-base-topbar-content">
		<div class="mbg-base-topbar-content-container">
			<div class="mbg-base-topbar-logo-container">
				<div class="mbg-base-topbar-logo" ng-style="{'background-image': 'url(' + $ctrl.config.logo + ')'}"></div>
			</div>
			<div class="mbg-base-topbar-inside-content-container">
				<div class="mbg-base-topbar-search-container">
					<mbg-base-topbar-search config="$ctrl.config.search"></mbg-base-topbar-search>
				</div>

				<!-- <div class="mbg-base-topbar-notifications-icon-container">
					<mbg-base-topbar-notifications></mbg-base-topbar-notifications>
				</div> -->

				<div class="mbg-base-topbar-user-container">
					<mbg-base-topbar-user config="$ctrl.config.user"></mbg-base-topbar-user>
				</div>

				<div class="mbg-base-topbar-alternative">
					<div class="topbar-alternative-content">
						<div class="topbar-alternative-content-arrow">
							<i class="fas fa-caret-left"></i>
						</div>
						<div class="topbar-alternative-alternatives">
							<div ng-click="toggleFullscreen()" class="topbar-alternative-alternatives-item">
								<i class="material-icons">fullscreen</i>
								<br> Tela
								<br> Cheia
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>