.mbg-base-topbar-input-container {
	height: 40px;
	background-color: #ffffff;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	overflow: hidden;
	padding-right: 15px;
	position: relative;
	z-index: 510;
}

.mbg-base-topbar-input-container.ativo {
	border-color: #00bbbd;
}

.mbg-base-topbar-input-container.error {
	border-color: #df3f0e;
}

.mbg-base-topbar-input-container .icone-container {
	display: inline-block;
	line-height: 40px;
	width: 40px;
	text-align: center;
	color: #b8b8b8;
	font-size: 16px;
}

.mbg-base-topbar-input-container.error .icone-container {
	color: #df3f0e;
}

.mbg-base-topbar-input-container.ativo .icone-container {
	color: #00bbbd;
}

.mbg-base-topbar-input-container .inside-container {
	height: 100%;
	/* 100% menos o tamanho do container do ícone menos 5px */
	width: calc(100% - 40px - 5px);
	display: inline-block;
}

.mbg-base-topbar-input-container .input {
	display: inline-block;
	height: 40px;
	width: 100%;
	border: none;
	background-color: transparent;
	color: #acacac;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.mbg-base-topbar-input-container.error .input {
	color: #df3f0e;
}

.mbg-base-topbar-input-container.ativo .input {
	color: #00bbbd;
}

.mbg-base-topbar-input-container .input::-webkit-input-placeholder {
	color: #c9c9c9;
}

.mbg-base-topbar-input-container .input::-moz-placeholder {
	color: #c9c9c9;
}

.mbg-base-topbar-input-container .input:active, .mbg-base-topbar-input-container .input:focus {
	outline: none;
}
