@media (max-width: 768px) {
  .mbg-base-topbar {
    height: 80px;
  }
  .mbg-base-topbar-logo-container {
    display: none;
  }
  .mbg-base-topbar-buguer-btn-container {
    display: block;
    height: 100%;
    width: 10%;
    font-size: 35px;
    line-height: 80px;
    color: #8034ad;
  }
  .mbg-base-topbar-search-container {
    padding-left: 0px;
	}
}
