.mbg-base-topbar {
	width: 100%;
	height: 100px;
	background-color: #ffffff;
	border-bottom: solid 1px #f4f4f4;
	text-align: center;
	font-family: 'MontSerrat', sans-serif;
	position: relative;
	z-index: 500;
}

.mbg-base-topbar-content {
	width: 100%;
	height: 100%;
	max-width: 1920px;
	display: inline-block;
}

.mbg-base-topbar-content-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.mbg-base-topbar-logo-container {
	min-width: 250px;
	height: 100%;
	border-bottom: 3px solid #D6DD48;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mbg-base-topbar-inside-content-container{
	width: calc(100% - 250px);
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.mbg-base-topbar-logo {
	height: 85%;
	width: 90%;
	background-size: contain;
	background-position: center center;
}

.mbg-base-topbar-search-container {
	height: 100%;
	flex-grow: 1;
	padding-left: 25px;
}
