@media (max-width: 768px) {
	.mbg-base-topbar-logo-container {
		min-width: auto;
		width: 15%;
	}
	.mbg-base-topbar-logo {
		height: 85%;
		width: 70%;
	}
	.mbg-base-topbar-inside-content-container {
		width: 85%;
	}
	
}
