.mbg-base-topbar {
	width: 100%;
	height: 100px;
	background-color: #ffffff;
	border-bottom: solid 1px #f4f4f4;
	text-align: center;
	font-family: 'MontSerrat', sans-serif;
	position: relative;
	z-index: 500;
}

.mbg-base-topbar-content {
	width: 100%;
	height: 100%;
	max-width: 1920px;
	display: inline-block;
}

.mbg-base-topbar-content-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.mbg-base-topbar-logo-container {
	min-width: 250px;
	height: 100%;
	border-bottom: 3px solid #D6DD48;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mbg-base-topbar-inside-content-container{
	width: calc(100% - 250px);
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.mbg-base-topbar-logo {
	height: 85%;
	width: 90%;
	background-size: contain;
	background-position: center center;
}

.mbg-base-topbar-search-container {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 25px;
}

.mbg-base-topbar-notifications-icon-container {
	height: 100%;
	width: 100px;
	position: relative;
}

.mbg-base-topbar-change-software-container {
	height: 100%;
	width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.mbg-base-topbar-change-icon {
	height: 50px;
	width: 50px;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	color: #8034ad;
	cursor: pointer;
}

.mbg-base-topbar-notifications-icon {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	color: #8034ad;
	cursor: pointer;
}

.mbg-base-topbar-notifications-number {
	position: absolute;
	top: 2px;
	right: 2px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #ff1057;
	font-size: 12px;
	font-weight: 700;
	color: white;
}

.mbg-base-topbar-alternative {
	position: relative;
	width: 35px;
	height: 100%;
	z-index: 701;
}

.topbar-alternative-content {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	color: #8034ad;
	font-size: 19px;
	will-change: transform;
	transition: 
		transform 0.5s ease, 
		box-shadow 250ms linear,
		background-color 100ms 500ms linear,
		border-top-left-radius 250ms linear, 
		border-bottom-left-radius 250ms linear;
	width: 100px;
	height: 100%;
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.topbar-alternative-content:hover {
	transform: translate3d(-65px, 0,0);
	background-color: #fff;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: 
		transform 0.5s ease, 
		box-shadow 250ms linear,
		background-color 100ms 0ms linear,
		border-top-left-radius 250ms linear, 
		border-bottom-left-radius 250ms linear;
}

.topbar-alternative-content-arrow {
	height: 100%;
	width: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 19px;
}

.topbar-alternative-alternatives {
	width: 65px;
	height: 100%;
	padding-right: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.topbar-alternative-alternatives .material-icons {
	font-size: 35px;
	line-height: 35px;
}

.topbar-alternative-alternatives-item {
	font-size: 11px;
	font-weight: 700;
	cursor: pointer;
}