.mbg-base-search-autocomplete-line-text {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	text-align: left;
	white-space: pre;
	letter-spacing: 0px;
	color: inherit;
}

.mbg-base-search-autocomplete-line-text.highlight {
	background-color: rgb(255, 246, 192);
	outline: rgb(230, 214, 152) solid 1px;
}