@import "../../../themes/themes.style.scss";

.mb[content-container] {
	height: calc(100% - #{$topbarHeight});
	width: calc(100% - 224px);
	display: inline-block;
	font-family: 'MontSerrat', sans-serif;
	padding: 5px;

	> .mb-cc-content {
		height: 100%;
		width: 100%;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}
