.mb[content-container] {
	height: calc(100% - 100px);
	width: calc(100% - 255px);
	display: inline-block;
	font-family: 'MontSerrat', sans-serif;
	padding: 5px;

	> .mb-cc-content {
		height: auto;
		width: 100%;

		@media (max-width: 768px) {
			width: 100%;
		}
	}
}
