.mb[content-container] {
	height: 100%;
	width: calc(100% - 255px);
	display: inline-block;
	font-family: 'MontSerrat', sans-serif;

	/* 100px da barra do topo */
	padding: 15px 15px 115px 15px;
	overflow-y: auto;

	> .mb-cc-contentt {
		height: auto;
		width: 100%;

		@media (max-width: 768px) {
			width: 100%;
		}
	}
}
