@import '../../../../../themes/themes.style.scss';

.mb[search-input] {
	height: 44px;
	background-color: #ffffff;
	@include themify(background-color, backgroundSideMenu);
	border-radius: 5px;
	overflow: hidden;
	padding-right: 15px;
	position: relative;
	z-index: 510;
	border-radius: 34px;
	border: none;
	padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

	&.mb-tsi-active {
		border-color: #00bbbd;
		@include themify(border-color, color1);
	}

	> .mb-tsi-icon-container {
		display: inline-block;
		line-height: 44px;
		width: 44px;
		text-align: center;
		color: #ccc;
		@include themify(color, neutral3);
		font-size: 16px;

		&.mb-tsi-active {
			color: #00bbbd;
			@include themify(color, color1);
		}
	}

	> .mb-tsi-input-container {
		height: 100%;

		/* 100% menos o tamanho do container do ícone menos 5px */
		width: calc(100% - 40px - 5px);
		display: inline-block;

		> .mb-tsi-input {
			display: inline-block;
			height: 44px;
			width: 100%;
			border: none;
			background-color: transparent;
			// color: #ccc;
			// @include themify(color, neutral3);
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;

			&.mb-tsi-active {
				color: #00bbbd;
				@include themify(color, color1);
			}

			&::placeholder {
				// color: #ccc;
				// @include themify(color, neutral3);
				color: #555555;
				font-weight: 500;
			}

			&:active, &:focus {
				outline: none;
			}
		}
	}
}
