@import "../../../themes/themes.style.scss";
.mb[cashier] {
	width: 100%;
    position: absolute;
    left: 0;
    top: 0px;
	z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
	padding: 0 26%;
	height: 1px;
	background-color: #f5f5f5;
	filter: drop-shadow( 1px 2px 1px rgba(102, 102, 102, .1));

	&.active {
		background-color: #ff0758;
		@include themify(background-color, quickMenuBtnBackground);
	}

	.mb-bt-cashier {
		width: 226px;
    	transform: translateY(50%);
		height: 42px;
		margin: 0px 10px;
		text-align: center;
		overflow: hidden;
		word-wrap: normal;

		svg {
			transform: translateY(0px);
			fill: #f5f5f5;
			position: absolute;
			left: 0px;
			top: -1px;
			z-index: 0;
			filter: drop-shadow( 1px 2px 1px rgba(102, 102, 102, .1));
			&.active {
				fill: #ff0758;
				@include themify(fill, quickMenuBtnBackground);
			}
		}

		span {
			position: relative;
			z-index: 9;
			line-height: 42px;
			font-weight: 700;
			font-size: 12px;
			i.m-t {
				margin-right: 8px;
			}
		}

		&.ca-open {
			background-color: transparent;
			color: #b5b5b5;
			cursor: pointer;
		}
		&.ca-close {
			color: #fff;
			cursor: pointer;
		}

		.mb-box-cashier {
			transition: transform 300ms ease;
			z-index: 8;
			position: relative;
			transform: translateY(2px);
			&.active {
				transform: none;
				&:hover {
					transform: translateY(-50%);
				}
			}
			span {
				display: block;
			}
		}

		.caixa-aberto {
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		.nome-pdv {
			font-size: 10px;
			font-weight: 600;
		}

		.caixa-aberto-text {
			font-weight: 700;
			font-size: 12px;
			i.m-t {
				display: initial;
				margin-right: 8px;
			}
		}
		@media (max-width: 800px) {
			width: 260px;
		}
	}
}