@import "../../../themes/themes.style.scss";
.mb[cashier] {
	.mb-bt-cashier {
		width: 270px;
		height: 45px;
		border-radius: 25px;
		line-height: 45px;
		text-align: center;
		overflow: hidden;

		span {
			font-weight: bold;
			i.m-t {
				margin-right: 15px;
			}
		}

		&.ca-open {
			background-color: transparent;
			border: 1px solid #c4c4c4;
			color: #c4c4c4;
			cursor: pointer;
		}
		&.ca-close {
			background-color: #ff0758;
			border-color: #ff0758;
			border: 1px;
			@include themify(background-color, quickMenuBtnBackground);
			@include themify(border-color, quickMenuBtnBackground);

			color: #fff;
			cursor: pointer;
		}

		.mb-box-cashier {
			transition: transform 300ms ease;
			&:hover {
				transform: translateY(-50%);
			}
			span {
				display: block;
			}
		}
	}
}