.mb[sm-sub-category] {
	padding-left: 5px;
	padding-bottom: 15px;

	> .mbg-smsc-title {
		padding-bottom: 5px;
		> .mbg-smsc-text {
			color: #9136ca;
			font-size: 15px;
			font-weight: 700;
		}
	}
}
