<mbg-base-side-menu-category 
	ng-if="$ctrl.config.type === 'category'" 
	label="{{$ctrl.config.label}}">

	<mbg-base-side-menu-item
		ng-repeat="item in $ctrl.config.children"
		first-child="$first"
		last-child="$last"
		config="item">
	</mbg-base-side-menu-item>

</mbg-base-side-menu-category>

<mbg-base-side-menu-sub-category 
	ng-if="$ctrl.config.type === 'sub-category'" 
	label="{{$ctrl.config.label}}">

	<mbg-base-side-menu-item
		ng-repeat="item in $ctrl.config.children"
		first-child="$first"
		last-child="$last"
		config="item">
	</mbg-base-side-menu-item>

</mbg-base-side-menu-sub-category>

<mbg-base-side-menu-btn 
	ng-if="$ctrl.config.type === 'btn'" 
	icon-src="{{$ctrl.config.iconSrc}}"
	icon="{{$ctrl.config.icon}}"
	icon-size="{{$ctrl.config.iconSize}}"
	label="{{$ctrl.config.label}}"
	link="{{$ctrl.config.link}}"
	hotkey="{{$ctrl.config.hotkey}}"
	first-child="$ctrl.firstChild"
	last-child="$ctrl.lastChild">
</mbg-base-side-menu-btn>
