<mb-sm-category ng-if="vm.config.type === 'category'"
                label="{{vm.config.label}}">
  <mb-sm-item ng-repeat="item in vm.config.children"
              first-child="$first"
              last-child="$last"
              keys="vm.keys"
              config="item">
  </mb-sm-item>
</mb-sm-category>
<mb-sm-subcategory qtd-sub-itens="vm.config.children.length"
                   show-itens="vm.config.showItens"
                   icon-src="{{vm.config.iconSrc}}"
                   icon="{{vm.config.icon}}"
                   icon-size="{{vm.config.iconSize}}"
                   ng-if="vm.config.type === 'sub-category' && vm.showSubCategory()"
                   label="{{vm.config.label}}">
  <mb-sm-item ng-repeat="item in vm.config.children"
              first-child="$first"
              last-child="$last"
              keys="vm.keys"
              config="item">
  </mb-sm-item>
</mb-sm-subcategory>
<mb-sm-btn ng-if="vm.config.type === 'btn'"
           icon-src="{{vm.config.iconSrc}}"
           icon="{{vm.config.icon}}"
           icon-size="{{vm.config.iconSize}}"
           label="{{vm.config.label}}"
           action="vm.config.action"
           action-type="vm.config.actionType"
           hotkey="{{vm.config.hotkey}}"
           config="vm.config"
           first-child="vm.firstChild"
           tag="vm.config.tag"
           keys="vm.keys"
           last-child="vm.lastChild">
</mb-sm-btn>
<mb-sm-html ng-if="vm.config.type === 'html'"
            html="vm.config.html">
</mb-sm-html>