@media (max-width: 768px) {
	.mbg-base-side-menu {
		position: fixed;
		background-color: #ffffff;
		left: 0px;
		top: 0px;
		bottom: 0px;
		right: auto;
		transform: translate3d(-100%,0,0);
		height: 100%;
	}
	.mbg-base-side-menu.active {
		transform: translate3d(0%, 0, 0);
	}
}
