@import "../../themes/themes.style.scss";
@import "./footer.animations.scss";

.mb[mb-footer] {
	width: 100%;
	height: 75px;
	position: fixed;
	top: auto;
	bottom: 0px;
	left: 0px;
	z-index: 900;
	padding: 0px 15px 15px 15px;
	display: flex;
	justify-content: center;
	animation: mb-footer-enter 500ms ease;

	.mb-f-container {
		width: 100%;
		height: 100%;
		max-width: 1920px;
		border-radius: 10px;
		position: relative;
		z-index: 1200;
		background-color: #ccc;

		@include themify(background-color, color1);
	}
}
