<div class="mb"
     mb-footer>
  <div class="mb-f-container">
    <div class="mb-f-content-container">
      <div class="mb-f-c-total">
        <div class="mb-f-c-total-text">
          Valor total:
        </div>
        <div class="mb-f-c-total-cash">
          R$2800,00
        </div>
      </div>
    </div>
    <div class="mb-f-sub-action-container">
      <div class="mb-f-a-button">
        Nova Venda
      </div>
    </div>
    <div class="mb-f-action-container">
      <div class="mb-f-a-button">
        Faturar Agora
      </div>
    </div>
  </div>
</div>