@import "./loading.animations.scss";

.mb[topbar-user-loading] {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: mb-placeholder-loading;
	background: #f6f7f8;
  background: linear-gradient(to bottom right, #eeeeee 8%, #c4c4c4 18%, #eeeeee 33%);
	background-size: 300% 300%;
}
