<div ng-if="$ctrl.config.enabled" class="mbg-base-side-menu-quick-container">
	<div class="mbg-base-side-menu-quick-menu-container" ng-class="{'active' : state.quickMenuOpen}">
		<div class="mbg-base-side-menu-quick-menu-button" title="{{$ctrl.config.buttonText + ' (c)'}}" ng-click="toggleQuickMenu()">
			<div class="mbg-base-side-menu-quick-button-text">
				{{ $ctrl.config.buttonText }}
			</div>
			<div class="mbg-base-side-menu-quick-arrow-container">
				<div class="mbg-base-side-menu-quick-arrow">
				</div>
			</div>
		</div>
		<div class="mbg-base-side-menu-quick-menu" ng-style="{'height': (5 + ($ctrl.config.links.length * 33)) + 'px'}">
			<div class="mbg-base-side-menu-quick-menu-content-container">
				<mbg-base-side-menu-btn ng-repeat="link in $ctrl.config.links" icon-src="{{link.iconSrc}}" icon="{{link.icon}}" icon-size="{{link.iconSize}}"
				 label="{{link.label}}" action="link.action" action-type="link.actionType" icon-side="right" hotkey="{{link.hotkey}}" first-child="$first" last-child="$last">
				</mbg-base-side-menu-btn>
			</div>
		</div>
		<div class="mbg-base-side-menu-quick-menu-bottom" ng-style="{'transform': 'translate3d(0px,' + state.menuBottomY + 'px, 0px)'}"></div>
	</div>
</div>