@keyframes mb-tu-anim-focus-In {
	0% {
		transform: translate3d(0%, 0%, 0) scale(1);
	}

	33% {
		transform: translate3d(5%, -5%, 0) scale(1);
	}

	100% {
		transform: translate3d(-50%, 25%, 0) scale(0.5);
	}
}

@keyframes mb-tu-anim-focus-out {
	0% {
		transform: translate3d(-50%, 25%, 0px) scale(0.5);
	}

	33% {
		transform: translate3d(-55%, 30%, 0px) scale(0.4);
	}

	100% {
		transform: translate3d(0%, 0%, 0px) scale(1);
	}
}
