.mbg-base-topbar-change-software-menu {
	top: calc(100% - 30px);
	left: 0px;
	right: 30px;
	bottom: 0px;
	background-color: #ffffff;
	position: absolute;
	height: 200px;
	border-top: 5px #8034ad solid;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.05);
	z-index: 600;
	transform-origin: top center;
	transition: transform 500ms ease, opacity 200ms linear;
	transform: translate3d(0%, 0px, 0px) scaleY(0);
	opacity: 0;
}

.mbg-base-topbar-change-software-menu-bottom {
	height: 30px;
	position: absolute;
	top: calc(100% - 30px);
	left: 0px;
	right: 30px;
	transform: translate3d(0px, -15px, 0px);
	transition: transform 500ms ease, opacity 200ms linear;
	border-radius: 15px;
	background-color: #ffffff;
	z-index: 650;
	opacity: 0;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.01);
}

.mbg-base-topbar-change-software-menu-bottom.active{
	opacity: 1;
	transform: translate3d(0px, 185px, 0px);
}

.mbg-base-topbar-change-software-menu.active{
	transform: translate3d(0%, 0px, 0px) scaleY(1);
	opacity: 1;
}

.mbg-base-topbar-change-software-menu-content {
	opacity: 0;
	padding-top: 30px;
	transition: opacity 250ms 500ms linear;
}

.mbg-base-topbar-change-software-menu.active mbg-base-topbar-change-software-menu-content {
	opacity: 1;
}