@import "../../themes/themes.style.scss";

.mb[topbar] {
	width: 100%;
	height: $topbarHeight;
	background-color: #ffffff;

	@include themify(background-color, backgroundTopBar);

	border-bottom: solid 1px #f4f4f4;
	text-align: center;
	font-family: 'MontSerrat', sans-serif;
	position: relative;
	z-index: 900;

	@media screen and (max-width: 768px) {
		height: 80px;
	}

	> .mb-t-content {
		width: 100%;
		height: 100%;
		max-width: 1920px;
		display: inline-block;

		> .mb-t-container {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: left;
			align-items: center;

			.mb-t-logo-link {
				height: 100%;

				&:visited, &:focus, &:active {
					color: inherit;
					text-decoration: none;
					outline: none;
					box-shadow: none;
				}

				> .mb-t-logo-container {
					min-width: 250px;
					height: 100%;
					border-bottom: 3px solid #ccc;

					@include themify(border-color, logoDetail);

					display: flex;
					justify-content: center;
					align-items: center;

					@media screen and (max-width: 768px) {
						display: none;
					}

					> .mb-t-logo {
						height: 85%;
						width: 85%;
						background-size: contain;
						background-position: center center;
						background-repeat: no-repeat;
					}
				}
			}

			> .mb-t-buguer-btn-container {
				height: 100%;
				width: 10%;
				font-size: 35px;
				line-height: 80px;

				@include themify(color, color1);

				display: none;
				cursor: pointer;

				@media screen and (max-width: 768px) {
					display: block;
				}
			}

			> .mb-t-inside-content {
				height: 100%;
				display: flex;
				flex-grow: 1;
				flex-direction: row;
				justify-content: left;
				align-items: center;

				> .mb-t-search-container {
					height: 100%;
					flex-grow: 1;
					padding-left: 25px;
					padding-top: calc((#{$topbarHeight} / 2) - 40px / 2);
					padding-right: 15px;

					@media screen and (max-width: 768px) {
						padding-left: 0px;
						padding-top: 20px;
					}
				}

				> .mb-t-notifications-container {
					height: 100%;
					width: 100px;
					position: relative;
				}

				> .mb-t-user-container {
					height: 100%;
					position: relative;
					z-index: 550;
					font-size: 16px;
				}
			}
		} // mb-t-container

	} // mb-t-content
} // mb[topbar]
