@import '../../../../../themes/themes.style.scss';

$background: #f2f2f2;

.mb[autocomplete-line] {
	width: 100%;
	text-align: left;
	align-items: flex-start;
	color: #ccc;
	@include themify(color, neutral2);
	background-color: $background;
	transition: background-color 100ms linear;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;

	> .mb-tsal-link {
		padding: 7.5px 15px 7.5px 35px;
		width: 100%;
		height: 100%;
		color: inherit;
		text-decoration: none;
		display: block;

		&:hover {
			background-color: #fff;
			color: #8228A2;
			@include themify(color, color1);
		}

		> .mb-tsal-link-text {
			display: inline-block;
			margin: 0px;
			padding: 0px;
			text-align: left;
			white-space: pre;
			letter-spacing: 0px;
			color: inherit;

			&.mb-tsal-highlight {
				background-color: rgb(255, 246, 192);
				outline: rgb(230, 214, 152) solid 1px;
			}
		}
	}
}
