// @import "../../../themes/themes.style.scss";

// .mb-toggle-wrapper {
//   display: flex;
//   align-items: center;
//   height: auto;
//   margin-top: 21px;
//   padding-left: 4px;

//   .item {
//     margin-left: 8px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 40px;
//     height: 38px;
//     cursor: pointer;
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
//     transition: all 500ms ease;

//     span {
//       position: relative;
//       z-index: 10;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       border-radius: 8px;
//       width: 24px;
//       height: 24px;
//       background-color: #00bbbd;
//       color: #fff;
//       transform: scale(0.7);
//       transition: all 300ms ease;
//     }

//     &.active {
//       background-color: #00bbbd;

//       span {
//         transform: scale(0.9);
//         background-color: #00bbbd;
//         box-shadow: 0px 4px 17px -6px rgba(0, 0, 0, 0.8);
//       }
//     }

//     &.finance {
//       span {
//         background-color: #d6df24;
//       }
//       &.active {
//         background-color: #d6df24;

//         span {
//           transform: scale(0.9);
//           background-color: #d6df24;
//           box-shadow: 0px 4px 17px -6px rgba(0, 0, 0, 0.8);
//         }
//       }
//     }
//   }
// }

// .mb-selected-nav {
//   position: relative;
//   height: 44px;
//   display: flex;
//   align-items: center;
//   padding: 0 24px;
//   border-radius: 8px;
//   background-color: #00bbbd;
//   color: #fff;
//   font-weight: 600;
//   overflow: hidden;

//   &.finance {
//     background-color: #d6df24;
//   }

//   span {
//     position: absolute;
//     transform: translateX(-144px);
//     transition: transform 300ms ease, opacity 200ms ease;
//     opacity: 0;

//     &.active {
//       transition: transform 600ms ease, opacity 1000ms ease;
//       transform: translateX(0);
//       opacity: 1;
//     }
//   }

//   .change-nav {
//     position: absolute;
//     right: 7px;
//     background-color: #fff;
//     width: 35px;
//     height: 35px;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     // i {
//     //   transition: all 500ms ease-out;
//     //   color: #00bbbd;
//     //   font-size: 10px;
//     // }
//   }
// }

@import "../../../themes/themes.style.scss";

.mb-toggle-wrapper {
  display: flex;
  align-items: center;
  //   justify-content: space-around;
  height: 44px;

  .item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #00bbbd;
    color: #fff;
    transform: scale(0.7) translateX(54px);
    transition: all 300ms ease;
    cursor: pointer;

    &.active {
      background-color: #00bbbd;
      transform: scale(1.1) translateX(0px);
    }

    &.finance {
		background-color: #d6df24;
      &.active {
        background-color: #d6df24;
        transform: scale(1.1) translateX(0px);
      }
    }
  }
}

.mb-selected-nav {
  position: relative;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-radius: 50px;
  background-color: #00bbbd;
  color: #fff;
  font-weight: 600;
  overflow: hidden;

  &.finance {
	background-color: #d6df24;
  }

  span {
    position: absolute;
    transform: translateX(-144px);
    transition: transform 300ms ease, opacity 200ms ease;
    opacity: 0;

    &.active {
      transition: transform 600ms ease, opacity 1000ms ease;
      transform: translateX(0);
      opacity: 1;
    }
  }

  .change-nav {
    position: absolute;
    right: 7px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      transition: all 500ms ease-out;
      color: #00bbbd;
      font-size: 10px;
    }
  }
}
